.chat-row {
    display: flex;
    margin: 5px;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.chat-bubble {
    font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 0px 0.5rem;
    max-width: 70%;
}

.ai-bubble {
    /* background: rgb(240, 242, 246); */
    border-radius: 10px;
}

.human-bubble {
    /* rgb(0, 106, 255) 100% */
    background: linear-gradient(135deg, rgb(99, 201, 209) 0%, rgb(72 151 187) 0%);
    color: white;
    border-radius: 1rem;
}

.chat-icon {
    border-radius: 5px;
}